@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');


section{
    background-color: hsl(212, 45%, 89%);
}

body{
    font-family: 'Outfit', sans-serif;
}

.card{
    width: 18rem;
}

.p{
    font-size: 15px;
}

.round{
    border-radius: 15px;
}

footer{
    background-color: rgb(255, 255, 255);    
}
